@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root{
    /* ### Primary */

    --Blue: hsl(223, 87%, 63%);
    
    /* ### Secondary */
    
    --Pale_Blue: hsl(223, 100%, 88%);
    --Light_Red: hsl(354, 100%, 66%);
    
    /* ### Neutral */
    
    --Gray: hsl(0, 0%, 59%);
    --Very_Dark_Blue: hsl(209, 33%, 12%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
}
.main-container{
    margin: 85px auto 60px; 
}
.logo{
    display: block;
    width: 52px;
    margin: 0 auto 40px;
}
h1{
    font-size: 1.2em;
    font-weight: 300;
    color: var(--Gray);
    text-align: center;
    margin-bottom: 16px;
}
h1 span{
    color: var(--Very_Dark_Blue);
    font-weight: 700;
}
.suscribe{
    text-align: center;
    font-size: 0.65em;
    margin-bottom: 36px;

}
form{
    width: 282px;
    margin: 0 auto;
}
input[type="email"]{
    width: 100%;
    height: 40px;
    border-radius: 32px;
    margin-bottom: 5px;
    border: 1px solid var(--Blue);
    padding-left: 24px;
}
input[type="email"]:focus{
    outline: none;
}
#error{
    color: var(--Light_Red);
    font-style: italic;
    font-size: 0.55em;
    text-align: center;
    visibility: hidden;
    margin-bottom: 25px;
    font-weight: 600;
}
input[type="submit"]{
    background-color: var(--Blue);
    width: 100%;
    height: 40px;
    border-radius: 32px;
    border: none;
    font-weight: 700;
    color: var(--Pale_Blue);
    margin-bottom: 70px;
    
    box-shadow: 3px 3px 5px var(--Blue);
}
input[type="submit"]:hover{
    cursor: pointer;
    background-color: var(--Pale_Blue);
    color: white;
    box-shadow: 3px 3px 5px var(--Pale_Blue);
}
.dashboard{
    width: 322px;
    display: block;
    margin: 0 auto 120px;
}
.social-container{
    width: 150px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
}
.icon-container{
    width: 32px;
    height: 32px;
    border: 1px solid var(--Blue);
    border-radius: 50%;
    display: grid;
    place-content: center;
    fill: var(--Blue);
}
.icon-container:hover{
    background-color: var(--Blue);
    fill: var(--Pale_Blue);
}
.icon{
    width: 0.8em;
    height: 0.8em;
}
.copy{
    text-align: center;
    color: var(--Gray);
    font-size: 0.6em;
}

/*FOOTER -----------------------*/
.attribution {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
/*VISTA DE ESCRITORIO*/
@media only screen and (min-width:700px) {
    .logo{
        width: 96px;
        margin-bottom: 60px;
    }
    h1{
        font-size: 2.5em;
    }
    .suscribe{
        font-size: 1.05em;
        font-weight: 300;
    }
    form{
        width: 638px;
        display: flex;
        justify-content: space-between;
    }
    input[type="email"]{
        width: 420px;
        height: 55px;
        font-size: 0.8em;
    }
    #error{
        text-align: left;
        padding-left: 24px;
        font-size: 0.8em;
        font-weight: 300;
    }
    input[type="submit"]{
        width: 200px;
        height: 55px;
        margin-bottom: 90px;
        font-size: 0.8em;
    }
    .dashboard{
        width: 640px;
        margin-bottom: 74px;
    }
}